/*@import "tailwindcss";
@import "tailwindcss/preflight";

@tailwind utilities;*/

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


/*main{
    margin: auto !important;
}*/
*{
    @apply p-0;
}

header{
    @apply mx-auto;
}

/* Apply the new font-sans (Arial) globally */
@theme {
    --font-primary: "Arial", "sans-serif";
    --font-secondary: "Arial", "sans-serif";
    --font-mono: "Roboto Mono", "monospace";
    --color-primary: #ff5100;
    --color-secondary: #9333ea;
}

button, .button{
    @apply hover:bg-gray-200 bg-gray-300 text-xs text-gray-600 font-light py-1 px-4 mx-0.5 rounded transition duration-100 ease-in-out font-mono cursor-pointer select-none;
}

.button-active {
    @apply bg-gray-200 text-xs text-gray-600 font-light py-1 px-4 rounded mx-0.5 transition duration-100 ease-in-out font-mono cursor-pointer select-none;
}

.button-image {
    @apply h-4;
}


.mini-delete{
    @apply right-1 ml-6 absolute hover:bg-gray-200 bg-gray-300 text-xs text-gray-600 font-light py-0.5 px-1 rounded transition duration-100 ease-in-out font-mono cursor-pointer select-none;
    font-size: 0.8rem;
}

.tab {
    @apply rounded-t-lg rounded-b-none;
}

.statetab{
    @apply border-b-2 border-b-orange-500 box-border;
}


/*<!-- Example theme: Translucent -->*/
.theme-translucent {
    --tp-base-background-color: hsla(230, 5%, 90%, 1.00);
    --tp-base-shadow-color: hsla(0, 0%, 0%, 0.10);
    --tp-button-background-color: hsla(230, 7%, 75%, 1.00);
    --tp-button-background-color-active: hsla(230, 7%, 60%, 1.00);
    --tp-button-background-color-focus: hsla(230, 7%, 65%, 1.00);
    --tp-button-background-color-hover: hsla(230, 7%, 70%, 1.00);
    --tp-button-foreground-color: hsla(230, 10%, 30%, 1.00);
    --tp-container-background-color: hsla(230, 15%, 30%, 0.20);
    --tp-container-background-color-active: hsla(230, 15%, 30%, 0.32);
    --tp-container-background-color-focus: hsla(230, 15%, 30%, 0.28);
    --tp-container-background-color-hover: hsla(230, 15%, 30%, 0.24);
    --tp-container-foreground-color: hsla(230, 10%, 30%, 1.00);
    --tp-groove-foreground-color: hsla(230, 15%, 30%, 0.10);
    --tp-input-background-color: hsla(230, 15%, 30%, 0.10);
    --tp-input-background-color-active: hsla(230, 15%, 30%, 0.22);
    --tp-input-background-color-focus: hsla(230, 15%, 30%, 0.18);
    --tp-input-background-color-hover: hsla(230, 15%, 30%, 0.14);
    --tp-input-foreground-color: hsla(230, 10%, 30%, 1.00);
    --tp-label-foreground-color: hsla(230, 10%, 30%, 0.70);
    --tp-monitor-background-color: hsla(230, 15%, 30%, 0.10);
    --tp-monitor-foreground-color: hsla(230, 10%, 30%, 0.50);
}

.tp-rotv {
    font-size: 0.75rem !important;
}

.tp-lblv_l {
    @apply select-none;
}
